
uploads/
faiss_index_*
filemetadata.json
file_metadata.json
*.sqlite
*.db
*.log


.env
*.json
*.pem
*.key
*.env
gcp-keys/
gen-lang-client-*.json
sunny-airfoil-*.json
.json

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
*.dist-info/

venv/
.venv/
ENV/
env/
myenv/

temps/

dist/
build/
.eggs/
*.whl


.vscode/
.idea/
*.swp
*.swo


alembic/
alembic.ini
alembic/versions/


.DS_Store
Thumbs.db


*.dockerignore

cloud_sql_proxy
cloud_sql_proxy.exe


app/__pycache__/
app/crud/__pycache__/
app/router/__pycache__/
app/schema/__pycache__/
app/services/__pycache__/
app/utils/__pycache__/

test.py

*.zip
